<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>AirPollution Spring Cloud Demo</title>
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif">
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <span class="navbar-brand mb-0 h1">💨 AirPollution Spring Cloud Demo</span>
        <div class="col-md-2 form-group" style="margin-top:15px;margin-left:80px;margin-right:-100px">
            <input type="text" class="form-control" id="start_time" placeholder="2017-05-10 08:00"
                   value="2017-05-10 08:00">
        </div>
        <div class="col-md-2 form-group" style="margin-top:15px;margin-left:-2px;margin-right:-50px">
            <input type="text" class="form-control" id="end_time" placeholder="2017-05-10 12:00"
                   value="2017-05-10 13:00">
        </div>
        <div style="margin-right:-80px;margin-left:0px">
            <select class="custom-select" id="select-site">
                <option th:each="site : ${sites}" th:value="${site.id}" th:text="${site.name}"
                ></option>
            </select>
        </div>
        <div>
            <select class="custom-select" id="select-type">
                <option value="history">历史数据</option>
                <option value="forecast">预测数据</option>
            </select>
        </div>
    </div>
</nav>
<div class="container">

    <div id="today" style="margin: 35px 0">
        <div class="text-center">
            <h1 class="text-primary" th:text="'当前监测站：'+${request_site}+'监测站'"></h1>
            <p class="h5">上海市PM2.5浓度预测数据</p>
        </div>
    </div>

    <div class="container" th:if="${flag == null}">
        <div style="margin: 120px 0">
            <div class="text-center">
                <h2 class="text-danger">📢 API服务暂不可用</h2>
            </div>
        </div>
    </div>

    <div id="data" th:if="${flag != null}">
        <div class="row">
            <div class="card-group" style="margin: 0 auto">
                <div class="card text-center" style="width: 18rem" th:each="forecast : ${forecastList}">
                    <img class="card-img-top" style="height: 200px; width: 100%; display: block;"
                         th:data-src="'holder.js/100px200/?random=yes&size=20&text=☁️ PM2.5:'+' \n '+${forecast.forecastPm25}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'🌎 '+${#dates.format(forecast.time, 'yyyy-MM-dd hh:mm')}">
                            日期</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span th:text="'【'+${request_site}+'监测站】'"></span>
                        </h6>

                        <ul class="list-unstyled card-text">
                            <li>
                                <span>预测结果仅供参考</span>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- holder.js -->
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>


</body>
</html>
<script>
    $(function () {
        $("#select-type").change(function () {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var site = $("#select-site").val();
            var type = $("#select-type").val();
            var url = '/' + type + '?site=' + site + '&startTime=' + start_time + '&endTime=' + end_time;
            window.location.href = url;
        })

        $("#select-site").change(function () {
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var site = $("#select-site").val();
            var type = $("#select-type").val();
            var url = '/' + type + '?site=' + site + '&startTime=' + start_time + '&endTime=' + end_time;
            window.location.href = url;
        })
    });
</script>
